.burger-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

.burger-overlay.active {
    display: block;
}

.burger-button {
    background: rgba(118, 117, 123, 1);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    padding: 8px 16px;
    max-width: 56px;
    height: 40px;
    width: 100%;
    display: block;
}

.burger-button span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.burger-menu {
    position: fixed;
    top: 64px;
    right: 20px;
    border-radius: 32px;
    padding: 18px 24px;
    max-width: 728px;
    width: 100%;
    background-color: rgba(51, 51, 51, 1);
    color: #fff;
    display: none;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 64px;
}

.burger-menu.active .user-login {
    display: flex;
    justify-content: space-between;
}

.burger-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 728px;
}

.burger-menu li {
    padding: 24px 8px 24px 24px;
    border-bottom: 1px solid #444;
    width: 100%;
    text-align: left;
}

.burger-menu li:last-child {
    border-bottom: none;
}

.burger-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 24px;
}

.burger-menu a:hover {
    color: rgba(245, 250, 147, 1);
}

.burger-menu .user-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    flex-shrink: 0;
}

.burger-menu .close-button {
    height: 40px;
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
    background-color: rgba(118, 117, 123, 1);
    position: absolute;
    top: 18px;
    right: 24px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}

.burger-menu.active {
    display: flex;
}

/* медиа запросы */
@media screen and (max-width: 728px) {

    .burger-button {
        display: block;
    }

    .header-container {
        max-width: 100%;
    }

    .burger-menu {
        padding-top: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .burger-menu.active {
        display: flex;
    }

    .burger-menu ul {
        margin-top: 64px;
    }
}

@media screen and (max-width: 375px) {
    .burger-menu {
        padding-top: 0;
        position: fixed;
        top: 64px;
        right: 20px;
        left: 20px;
        max-width: 335px;
        width: 100%;
    }
}