@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: Manrope, sans-serif;
}

body {
    background-color: #140E17;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}