.header-container {
    max-width: 1018px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 32px;
    background-color: #333333;
    padding: 18px 24px;
    margin: 64px 0 0 0;
}

.header-container .left-side {
    max-width: 754px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 500;
    font-size: 20px;
}

.header-container .left-side nav ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.header-container .left-side nav ul li a {
    color: white;
    text-decoration: none;
}

.header-container .login-button {
    max-width: 56px;
    width: 100%;
    border: none;
    border-radius: 16px;
    background-color: #EBEBEB;
    padding: 8px 16px;
    display: block;
}

.information-container {
    margin: 80px 0 0 0;
    position: relative;
}

.information-container .main-block {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.information-container .main-block .text-container {
    max-width: 539px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 54px;
    position: relative;
}

.information-container .main-block .text-container .decor-up {
    position: absolute;
    top: -14px;
    right: 13px;
}

.information-container .main-block .text-container .decor-underline {
    position: absolute;
    left: 57px;
    bottom: 108px;
}



.information-container .main-block .text-container .title {
    font-weight: 800;
    font-size: 68px;
    color: #FFFFFF;
    line-height: 74.8px;
}

.information-container .main-block .text-container .description {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

/* form action */

.information-container .form-action form {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.information-container .form-action form input,
.information-container .form-action form button {
    padding: 18px 14px;
    border-radius: 18px;
    border: none;
    font-weight: 600;
    font-size: 18px;
}

.information-container .form-action form input {
    max-width: 317px;
    width: 100%;
}

.information-container .form-action form button {
    max-width: 222px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #F5FA93;
    color: #000000;
    cursor: pointer;
}

/* mockup phone image */

.information-container .image-content {
    max-width: 444px;
    width: 100%;
    height: 408px;
    position: absolute;
    right: 0;
    top: 0;
}

.information-container .image-content .bg {
    position: absolute;
    top: 18px;
    left: 31px;
}

.information-container .image-content .img-phone {
    position: absolute;
    top: 30px;
    left: 48px;
}

.information-container .image-content .new-content {
    position: absolute;
    top: 0;
    right: 44px;
}

/* cards wrapper */

.cards-wrapper {
    margin: 80px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.cards-wrapper .card {
    width: 100%;
    border-radius: 32px;
    border: 1px solid #F5FA93;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #FFFFFF;
}

.cards-wrapper .card .pic-area {
    display: flex;
}

.cards-wrapper .card .pic-area.start {
    justify-content: start;
}

.cards-wrapper .card .pic-area.center {
    justify-content: center;
}

.cards-wrapper .card .pic-area.end {
    justify-content: end;
}

.cards-wrapper .card .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.cards-wrapper .card .content .content-title {
    font-weight: 700;
    font-size: 42px;
}

.cards-wrapper .card .content .content-subtitle {
    font-weight: 500;
    font-size: 18px;
}

.information-block {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 80px 0 0 0;
}

.information-block .card-and-company-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 135px;
    margin: 0 50px 0 50px;
}

.information-block .card-and-company-list .company-list {
    max-width: 545px;
    width: 100%;
    padding: 18px;
    line-height: 20px;
    background-color: rgba(20, 14, 23, 1);
    border-radius: 24px;
    border: 0.75px solid rgba(51, 51, 51, 1);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.information-block .card-and-company-list .company-list .work-experience {
    font-size: 18px;
    font-weight: 600;
    color: rgba(170, 219, 107, 1);
}

.information-block .card-and-company-list .company-list .company-list-item {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.information-block .card-and-company-list .company-list .company-list-item .company {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.information-block .card-and-company-list .company-list .company-list-item .company .about-company {
    display: flex;
    flex-direction: column;
    gap: 1.5px;
}

.information-block .card-and-company-list .company-list .company-list-item .company .about-company .company-name-and-year {
    display: flex;
    align-items: center;
    gap: 6px;
}

.information-block .card-and-company-list .company-list .company-list-item .company .about-company .company-name-and-year .company-name {
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
}

.information-block .card-and-company-list .company-list .company-list-item .company .about-company .company-name-and-year .company-year {
    font-size: 13px;
    color: rgba(118, 117, 123, 1);
}

.information-block .card-and-company-list .company-list .company-list-item .company .about-company .website a {
    text-decoration: none;
    font-size: 13px;
    line-height: 19px;
    color: rgba(118, 117, 123, 1)
}

.information-block .card-and-company-list .company-list .company-list-item .company .grade {
    color: rgba(255, 255, 255, 1);
}

.information-block .card-and-company-list .card {
    max-width: 220px;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(255, 175, 176, 1);
}

.information-block .card-and-company-list .card .card-image {
    max-width: 178px;
    width: 100%;
    height: 170px;
    border: none;
    display: flex;
    justify-content: center;
}

.information-block .card-and-company-list .card .card-image-arrival {
    max-width: 170px;
    width: 100%;
    height: 170px;
    border-radius: 15px;
    background-image: url(./resourses/arrival.png);
    background-size: cover;
}

.information-block .card-and-company-list .card .card-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.information-block .card-and-company-list .card .card-text .card-text-header {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
}

.information-block .card-and-company-list .card .card-text .card-text-subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.information-block .card-and-company-list .card .card-text .card-text-button {
    display: flex;
    justify-content: flex-end;
}

.information-block .card-and-company-list .card .card-text .card-text-button button {
    max-width: 118px;
    width: 100%;
    padding: 12px 9px;
    border-radius: 12px;
    border: 0.66px solid rgba(51, 51, 51, 1);
    background-color: rgba(255, 175, 176, 1);
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-weight: 600;
}

.information-block .card-and-company-list .card .card-text .card-text-button button:hover {
    cursor: pointer;
}


.information-block .block {
    width: 100%;
    border-radius: 32px;
    border: 1px solid rgba(51, 51, 51, 1);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: rgba(255, 255, 255, 1);
}

.information-block .block .text {
    max-width: 952px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
}

.information-block .block .button-action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.information-block .block button {
    max-width: 245px;
    width: 100%;
    border-radius: 18px;
    border: 1px solid rgba(51, 51, 51, 1);
    padding: 18px 14px;
    background-color: rgba(20, 14, 23, 1);
    font-size: 18px;
    letter-spacing: 0px;
}

.information-block .block button a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    cursor: pointer;
}

.profile-web {
    position: absolute;
    top: 74px;
    left: 171px;
    max-width: 658px;
    width: 100%;
    padding: 29px 72px;
    border-radius: 24px;
    border: 2px solid rgba(51, 51, 51, 1);
    background-color: rgba(20, 14, 23, 1);
}

.profile-web .hero-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.profile-web .hero-block .image-area {
    max-width: 182px;
    width: 100%;
    height: 182px;
    border-radius: 50%;
    background-image: url(./resourses/userPhoto.png);
    background-size: cover;
    background-position-x: center;
}

.profile-web .hero-block .content-area {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.profile-web .hero-block .content-area .text-container {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgba(255, 255, 255, 1);
}

.profile-web .hero-block .content-area .text-container .name {
    font-weight: 800;
    font-size: 31px;
}


.profile-web .hero-block .content-area .text-container .description {
    font-weight: 500;
    font-size: 10px;
}

.profile-web button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    max-width: 105px;
    width: 100%;
    padding: 8px 6px;
    border-radius: 8px;
    border: none;
    background-color: rgba(249, 214, 158, 1);
}

.profile-web button:hover {
    cursor: pointer;
}

.profile-web button .button-text {
    max-width: 78px;
    width: 100%;
    text-align: center;
    font-size: 8px;
    font-weight: 600;
}

.profile-web button img {
    max-width: 10px;
    width: 100%;
    height: 10px;
}

.tarifs {
    margin: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.tarifs h3 {
    margin: 0 0 0 24px;
    font-weight: 600;
    font-size: 24px;
    color: rgba(245, 250, 147, 1);
}

.tarifs-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.tarifs-wrapper .wrapper-item {
    max-width: 484px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding: 32px;
    border-radius: 32px;
    background-color: rgba(245, 250, 147, 1);
    position: relative;
}

.tarifs-wrapper .wrapper-item .content-card {
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.tarifs-wrapper .wrapper-item .content-card h3 {
    font-weight: 600;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}

.tarifs-wrapper .wrapper-item .content-card .price {
    display: flex;
    align-items: flex-end;
}


.tarifs-wrapper .wrapper-item .content-card .price h1 {
    font-weight: 800;
    font-size: 68px;
    line-height: 75px;
}

.tarifs-wrapper .wrapper-item .content-card .price .period {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
}

.tarifs-wrapper .wrapper-item .content-card .benefits {
    margin: 0 0 32px 0;
}

.tarifs-wrapper .wrapper-item .content-card .benefits .benefit {
    display: flex;
    gap: 4px;
    font-weight: 600;
    font-size: 17px;
}

.tarifs-wrapper .wrapper-item button {
    font-weight: 600;
    font-size: 18px;
    max-width: 200px;
    width: 100%;
    padding: 18px 14px;
    border-radius: 18px;
    border: none;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1)
}

.tarifs-wrapper .wrapper-item button:hover {
    cursor: pointer;
}

.tarifs .best-choice-tag {
    max-width: 144px;
    width: 100%;
    border-radius: 18px;
    border: 1px solid rgba(51, 51, 51, 1);
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    padding: 14px 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    position: absolute;
    right: 32px;
    top: -25px;
}